/* General Stylings*/

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
  background-color: bisque;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fantasy;
}

::selection {
  background-color: ;
  color: ;
}

/**** Specific Stylings ++++++++++++++++++++++++****/

/* Header Styling */

.header {
  padding: 48px 16px;
  _padding-top: 72px;
  text-align: center;
  background-color: crimson;
  position: relative;
}

h1 {
  font-size: 65px;
}

.badge-hire-me {
  background-color: greenyellow;
  color: rgb(1, 86, 1);
  _font-family: fantasy;
  font-family: "Courier New", Courier, monospace;
  _font-style: bold;
  font-size: 30px;

  _padding: 8px 8px 2px;
  padding: 10px;
  text-align: center;
  border-radius: 100px;
  position: absolute;
  top: 0;
  left: 0;
}

.profession {
  font-family: fantasy;
  font-size: 25px;
  margin-top: 40px;
}

.profession::before {
  content: "";
}
.profession::after {
  content: "👩🏽‍💻";
}

/* Navigation Styling*/

nav a {
  background-color: bisque;
  padding: 8px 15px;
  margin: 30px;
  border-radius: 50px;
  font-family: fantasy;
  font-size: 20px;
  font-weight: bold;
}
.nav {
  background-color: black;
  border-radius: px;
}
a:link {
  color: indigo;
}
a:visited {
  color: lightblue;
}
a:hover {
  background-color: blue;
  color: hotpink;
}
a:active {
  background-color: aqua;
}
/******************************************************/

/* Heading Stylings */

h2 {
  font-size: 30px;
}

/* Main Stylings */

.main {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}
/*##############################################*/
/* Das verstehe ich noch nicht richtig!!!! */

.experience-heading {
  display: inline-block;
}
.experience-subheading {
  display: inline-block;
}

.main > * + * {
  margin-top: 48px;
}

.main > * {
  border-top: 2px solid greenyellow;
  _padding: 0 16px;
}

.main > *:first-child {
  border-top: none;
}

/*###############################################*/

.main-heading {
  position: relative;
  left: -12px;
}
