/* General Stylings*/

* {
  box-sizing: border-box;
}
body {
  margin: 0;
  background-color: rgb(249, 237, 223);
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: 20px;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fantasy;
}

::selection {
  background-color: ;
  color: ;
}



/**** Specific Stylings ++++++++++++++++++++++++****/

/* Header Styling */

.header {
  padding: 3rem 1rem;
  _padding-top: 4.5rem;
  text-align: center;
  background-color: crimson;
  position: relative;
}

.heading-group {
  font-size: 4rem;
}

.h1-heading {
  font-size: 1em;
}

.profession {
  font-family: fantasy;
  font-size: 0.35em;
  margin-top: 0.5em;
}

.profession::before {
  content: "";
}
.profession::after {
  content: "👩🏽‍💻";
}

.badge-hire-me {
  background-color: greenyellow;
  color: rgb(1, 86, 1);
  border: 0.1rem solid rgb(1, 86, 1);
  font-family: "Courier New", Courier, monospace;
  font-size: 1.75rem;

  _padding: 0.75rem 0.75rem 0.5rem;
  padding: 0.5rem;
  text-align: center;
  border-radius: 7rem;
  position: absolute;
  top: 0;
  left: 0;
}

/* Navigation Styling*/

nav a {
  background-color: rgb(249, 237, 223);
  padding: 0.5rem 0.75rem;
  margin: 1.25rem;
  border-radius: 2.5rem;
  font-family: fantasy;
  font-size: 1rem;
  font-weight: bold;
}
.nav {
  background-color: black;
  border-radius: rem;
}
a:link {
  color: indigo;
}
a:visited {
  color: lightblue;
  _color: yellowgreen;
}
a:hover {
  background-color: blue;
  color: hotpink;
}
a:active {
  background-color: yellowgreen;
}
/******************************************************/

/* Heading Stylings */

h2 {
  font-size: 1.5rem;
}

/* Main Stylings */

.main {
  padding: 1rem;
  max-width: 55ch;
  margin: 0 auto;
  c
}
/*##############################################*/
/* Das verstehe ich noch nicht richtig!!!! */

.experience-heading {
  display: inline-block;
}
.experience-subheading {
  display: inline-block;
}

.main > * + * {
  margin-top: 2.5rem;
}

.main > * {
  border-top: 0.1rem solid greenyellow;
}

.main > *:first-child {
  border-top: none;
}

/*###############################################*/

.main-heading {
  position: relative;
  left: -0.5rem;
}

.main-article {
  _padding-left: 2.5rem;
  _padding-right: 2.5rem;
}

/*** Media queries ***/

.main {display:block;}

/*breakpoint medium */
@media screen and (min-width:786px) {
  html {
  font-size: 22px;
}
.main > * + * {
  margin-top: 3.5rem;
}
}

/* breakpoint large */
@media screen and (min-width: 992px) {
  html {
  font-size: 25px;}
  
  /* Funktioniert die position: fixed; ?! */
  aside {
    background-color: greenyellow;
    color: rgb(1, 86, 1);
    border: 0.1rem solid rgb(1, 86, 1);

    font-family: "Courier New", Courier, monospace;
    font-size: 1.75rem;
  
    padding: 0.5rem;
    text-align: center;
    border-radius: 7rem;
    position: fixed;
    top: 0;
    left: 0;
  
  }
  }

@media print{
  .badge-hire-me {display: none;}
  nav {display: none;}
}