/* General Stylings*/

* {
  box-sizing: border-box;
}
body {
  margin: 0px;
}
html {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: fantasy;
}

.body {
  background-color: bisque;
}

/**** Specific Stylings ****/

/* Header Styling */

.header {
  padding: 48px 16px;
  text-align: center;
  background-color: crimson;
}

h1 {
  font-size: 65px;
}

header p {
  font-family: fantasy;
  font-size: 25px;
  margin-top: 40px;
}

.main {
  padding: 16px;
  max-width: 800px;
  margin: 0 auto;
}

.main > * + * {
  margin-top: 48px;
}

.main > * {
  border-top: 2px solid greenyellow;
}

.main > *:first-child {
  border-top: none;
}

/* Head Stylings */

h2 {
  font-size: 30px;
}

/* Navigation Styling*/

nav a {
  background-color: bisque;
  padding: 8px 20px;
  margin: 50px;
  border-radius: 50px;
  font-family: fantasy;
  font-size: 20px;
  font-weight: bold;
}
.nav {
  background-color: black;
  border-radius: px;
}
a:link {
  color: indigo;
}
a:visited {
  color: lightblue;
}
a:hover {
  background-color: blue;
  color: hotpink;
}
a:active {
  background-color: aqua;
}
